# computer science
## languages
### c
##### bo_c-primer-plus-6th
computer-science/languages/c/c-primer-plus-6th/markdown-files/*



# machine learning
#### bo_deep-learning-from-scratch
machine-learning/bo_deep-learning-from-scratch/image-files/lena.png
#### bo_pandas-in-action
